/.metadata
/Hello
/appcompat_v7
/*.R
/*.png
*.webp
*/.idea/*

/applet-graphics/bin
/applet-graphics/target


/ddgatve-mtable/assets
/ddgatve-mtable/*.log

/ddgatve-mtable/bin
/ddgatve-mtable/gen
/ddgatve-mtable/res/drawable-ldpi
/ddgatve-mtable/.settings

/ddgatve-games/assets
/ddgatve-games/res/drawable-ldpi

/DDGatveMath/.settings
/DDGatveMath/assets
/DDGatveMath/bin
/DDGatveMath/gen
/DDGatveMath/res/drawable-ldpi

/Fighting1/
/fighting-game/
/fighting2/

/icon-generation/.Rhistory
/icon-generation/*.png
/icon-generation/*.jpg

/lv.ddgatve.games

/MyFirstApp/bin
/MyFirstApp/gen
/MyFirstApp/res/drawable-ldpi
/MyFirstApp/.settings

/MySecondApp

/plain-hello/bin

/SpinnerActivityTest/bin/
/SpinnerActivityTest/gen/
.DS_Store


